{% extends "base.html" %}

{% block content %}
<!-- Navigation -->
<nav class="flex justify-between p-4 pt-8 text-gray-800">
  <h1 class="text-3xl text-gray-300">S</h1>
  <!-- <div class="transform text-gray-300 rotate-90 font-bold text-lg">:&nbsp;)</div> -->
</nav>

<!-- Main Content -->
<div class="lg:mt-32 mt-16 p-4">
  <h1 class="text-2xl pb-2 text-[#9ca3af] font-garamond">
    just a guy exploring beautifully written code.
  </h1>
  <p class="text-xl text-gray-300">
    — obsessed with building cool stuff that actually works (most of the time)<br />
    — currently at <a href="https://cofount.com/" class="underline font-extrabold">@cofountlabs</a><br />
    — curious for all things pioneering. think doofenshmirtz, but for good.<br />
    — rust, golang by night, caffeine by day. <br />
    — yes, i skipped the css. <br />
    — <a href="https://sidharth.co/resume.pdf" class="underline font-extrabold">sidharth.co/resume.pdf</a>
  </p>
  <br />
  
  <!-- Blog Link -->
  <a href="{{ get_url(path='blog/') }}" class="text-gray-300 hover:underline text-xl">
    — read my thoughts here
  </a>
  <br />
  
  <a href="https://cal.com/callmesid" class="text-gray-300 hover:underline text-xl ">
    — click here to schedule a call
  </a>
</div>
{% endblock content %}