{% extends "base.html" %}

{% block content %}
<!-- Navigation -->
<nav class="flex justify-between p-6 pt-10">
  <h1 class="text-3xl font-garamond text-apple-white tracking-tight">S</h1>
</nav>

<!-- Main Content -->
<div class="lg:mt-32 mt-20 px-6">
  <h1 class="text-3xl pb-4 text-apple-white font-garamond italic leading-snug">
    just a guy exploring beautifully written code.
  </h1>
  <div class="mt-6 space-y-3 text-lg text-apple-gray font-light leading-relaxed">
    <p>obsessed with building cool stuff that actually works (most of the time)</p>
    <p>currently at <a href="https://cofount.com/" class="text-apple-white font-normal">@cofountlabs</a></p>
    <p>curious for all things pioneering. think doofenshmirtz, but for good.</p>

  </div>

  <div class="mt-12 space-y-4">
    <a href="{{ get_url(path='blog/') }}" class="block text-apple-white text-lg hover:text-apple-gray">
      read my thoughts &rarr;
    </a>
    <a href="https://cal.com/callmesid" class="block text-apple-white text-lg hover:text-apple-gray">
      schedule a call &rarr;
    </a>
  </div>
</div>
{% endblock content %}
